.root {
  background-color: rgba(var(--lotta-page-background-color), 1);
  height: 300px;
  display: flex;
  overflow: hidden;
  display: -webkit-box;

  .BrowserColumns {
    width: 66.666%;
    display: inherit;
    overflow: auto;
  }
}
