.root {
  margin: auto;
  min-width: 33.333%;
  height: 100%;
  padding: var(--lotta-spacing);
  display: grid;

  .previewImage {
    max-width: 90%;
    height: 150px;
    border-radius: var(--lotta-border-radius);
    margin: 0 auto;
  }
  .infoSection {
    margin: 0 auto;
    width: 200px;
    font-size: 10pt;
    overflow: auto;
  }
}
