.root {
  background-color: rgba(var(--lotta-page-background-color), 1);
  height: 300px;
  display: flex;
  overflow: hidden;
  display: flex;

  .BrowserColumns {
    display: flex;
    overflow: auto;
    width: 100%;
  }
}
.paths {
  background-color: rgba(var(--lotta-accent-grey-color), 1);
  padding: var(--lotta-spacing);
  font-size: 8pt;
  color: rgba(var(--lotta-text-color), 0.5);
}
