.root {
  display: inline-flex;
  flex-direction: column;

  &.isFullWidth {
    width: 100%;
  }

  .inputWrapper {
    position: relative;
    display: flex;
  }

  .triggerButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #fff;
    border-image: initial;
    border-bottom: 1px solid rgb(51, 51, 51);
  }

  .progress {
    width: 1em;
    height: 1em;
    position: absolute;
    right: calc(1em / 2);
    top: calc(1em / 2);
  }
}
